<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width" />
   <title>Sign In - Bloggo</title>
   <link rel="stylesheet" href="/assets/admin/css/unauth.css" />
</head>
<body>

    {{#if error}}
        <div class="error">{{error}}</div>
    {{/if}}

    <h1>Sign <strong>In</strong></h1>

    <form method="post">

        <label{{#if error-email-required}} class="error"{{/if}}>
            <span>E-mail {{#if error-email-required}}<strong>Required</strong>{{/if}}</span>
            <input type="text" name="email" placeholder="Your e-mail">
        </label>

        <label{{#if error-password-required}} class="error"{{/if}}>
            <span>Password {{#if error-password-required}}<strong>Required</strong>{{/if}}</span>
            <input type="password" name="password" placeholder="Your password">
        </label>

        <button type="submit">Sign In!</button>

    </form>

</body>
</html>