{:source-paths
 ["src"]

 :dependencies []

 :builds
 {:app
  {:main bloggo.core/main
   :target :node-script
   :compiler-options {:infer-externs :auto}
   :output-to "bloggo.js"
   :devtools
   {:after-load bloggo.core/start!
    :before-load bloggo.core/stop!}}}}