;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.1.0"]
  [re-frame "1.2.0"]
  [hickory "0.7.1"]]

 :builds
 {:app
  {:target :browser
   :outpur-dir "./"
   :modules
   {:main
    {:entries [editor.core]}}}}}
