.block-editor {
    width: 600px;
}

.block-editor .block {
    border: 1px solid transparent;
}

.block-editor .block:hover {
    border: 1px solid #eee;
}

.block-editor .menu {
    display: block;
    width: 400px;
    height: auto;
    background: #eee;
    border-radius: 5px;
    z-index: 20;
    position: absolute;
    padding: 25px;
    top: -25px;
    left: calc(50% - 200px);
}

.block-editor .add-block {
    width: 100%;
    height: 40px;
}

.block-editor .add-block:before {
    display: none;
    content: '';
    width: 100%;
    height: 0;
    border-top: 1px solid #ddd;
    position: relative;
    top: 20px;
}

.block-editor .add-block:hover:before {
    display: block;
}

.block-editor .add-block .add-btn {
    display: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #111;
    border-radius: 100%;
    cursor:  pointer;
    z-index: 10;
    position: absolute;
    top: 5px;
    left: calc(50% - 15px);
}

.block-editor .add-block:hover .add-btn {
    display: block;
}

.block-editor .block.paragraph .paragraph-content {
    padding: 20px;
}

.block-editor .block.heading-big textarea {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    font-weight: 800;
    resize: none;
    border: 0;
    padding: 20px;
}