.block-editor {
    width: 600px;
}

.block-editor .block {
    color: #fbfbfb;
}

.block-editor .block.active {
    border: 1px solid #333;
}

.block-editor .controls {
    display: none;
    align-items: center;
    width: 40px;
    height: calc(100% - 2px);
    position: absolute;
    left: -40px;
}

.block-editor .block:hover .controls {
    display: flex;
}

.block-editor .controls .control {
    cursor: pointer;
    opacity: .5;
}

.block-editor .controls .control:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,.5);
    opacity: 1;
}

/**
 * ----------------------------------------
 * ADD BLOCK
 * ----------------------------------------
 */
.block-editor .add-block {
    width: 100%;
    height: 4px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.block-editor .add-block:before {
    display: none;
    content: '';
    width: 100%;
    height: 2px;
    background: #272727;
    position: relative;
    top: 1px;
}

.block-editor .add-block:hover:before {
    display: block;
}

.block-editor .add-block .add-btn {
    display: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: 800;
    text-align: center;
    color: #111;
    text-shadow: 0 1px 0 #fff;
    background: #fff;
    background: linear-gradient(#fff, #eee);
    border: 1px solid #fff;
    border-radius: 100%;
    cursor:  pointer;
    z-index: 10;
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 15px);
}

.block-editor .add-block:hover .add-btn {
    display: block;
}

/**
 * ----------------------------------------
 * ADD BLOCK MENU
 * ----------------------------------------
 */
.block-editor .menu {
    display: block;
    width: 400px;
    height: auto;
    background: #111;
    box-shadow: 0px 3px 20px rgba(0,0,0,.5), 0px 0px 50px rgba(0,0,0,.5);
    border: 1px solid #272727;
    border-radius: 5px;
    z-index: 20;
    position: absolute;
    padding: 25px;
    top: -50px;
    left: calc(50% - 200px);
}

.block-editor .menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.block-editor .menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    border: 1px solid #272727;
    border-radius: 5px;
    opacity: .75;
    transition: all 0.1s linear;
}

.block-editor .menu ul li:hover {
    background: #171717;
    background: linear-gradient(#171717, #111);
    opacity: 1;
}

.block-editor .menu ul li .icon {
    font-size: 23px;
    color: #fff;
    line-height: 1;
}

.block-editor .menu ul li .label {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #eee;
    line-height: 1;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

/**
 * ----------------------------------------
 * PARAGRAPH BLOCK
 * ----------------------------------------
 */
.block-editor .block.paragraph .paragraph-content {
    outline: none;
}

.block-editor .block.paragraph .paragraph-content:empty:before {
    content: attr(data-placeholder);
    opacity: .5;
}

.block-editor .block.heading textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -1px;
    color: #fff;
    background: transparent;
    outline: none;
    resize: none;
    border: 0;
}