@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	color: #eee;
	line-height: 1;
	width: 500px;
	background: #111;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

@media all and (max-width: 600px) {
	body {
		width: 100%;
		display: block;
	}
}

input,
textarea {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	color: #eee;
	line-height: 1;
}

h1 {
	font-size: 28px;
	text-align: center;
	font-weight: 300;
	color: #fff;
	letter-spacing: -.5px;
	margin-bottom: 50px;
}

@media all and (max-width: 600px) {
	h1 {
		font-size: 25px;
	}
}

h2 {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	margin-top: 50px;
	margin-bottom: 10px;
}

h2:first-child {
	margin-top: 0;
}

p {
	line-height: 1.5;
	color: #bbb;
	margin-bottom: 25px;
}

form:before {
	display: block;
	content: '';
	width: calc(100% + 200px);
	height: 1px;
	background: linear-gradient(90deg, #111, #333, #111);
	margin-left: -100px;
	margin-bottom: 50px;
}

@media all and (max-width: 700px) {
	form {
		padding-left: 25px;
		padding-right: 25px;
	}

	form:before {
		width: 100%;
		margin-left: 0;
	}
}

label {
	display: block;
}

label span {
	display: block;
	font-size: 12px;
	color: #777;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 10px;
}

label.error span {
	color: #e1001f;
}

label.error span strong {
	font-weight: 400;
	font-size: 11px;
	text-transform: capitalize;
	float: right;
}

label input {
	width: 100%;
	height: 50px;
	background: #222;
	box-shadow: inset 0px 3px 5px rgba(0,0,0,.25);
	border: 1px solid #333;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

label.error input {
	background: transparent;
	border: 1px solid #e1001f;
}

label textarea {
	width: 100%;
	height: 100px;
	line-height: 1.5;
	background: #222;
	box-shadow: inset 0px 3px 5px rgba(0,0,0,.25);
	border: 1px solid #333;
	border-radius: 5px;
	padding-top: 16px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 16px;
}

label.error textarea {
	background: transparent;
	border: 1px solid #e1001f;
}

label input:focus,
label textarea:focus {
	outline: none;
	background: transparent;
}

button {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-shadow: 0 -1px 0 rgba(0,0,0,.75);
	background: #FFBD39;
	background: linear-gradient(-10deg, #3a6ce4, #1e57de);
	box-shadow: 0px 1px 10px rgba(0,0,0,.5);
	border-top: 1px solid rgba(255,255,255,.2);
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px 20px;
	margin-top: 50px;
}

button:focus {
	color: rgba(255,255,255,.5);
	background: #111;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.25);
	border: 1px solid #272727;
}

div.error {
	display: block;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background: #9e0059;
	border: 1px solid #e2007f;
	border-radius: 5px;
	padding: 16px;
}